/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
}

main h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

main p {
    line-height: 1.6;
    margin-bottom: 20px;
}

main img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

/* Estilo para o aside */
aside {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: #ddd;
    color: #333;
}

aside h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para os links no rodapé */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para o botão "Voltar ao topo" */
nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}
